In [3]:
from utils import *

# Seasonal Player Data

In [5]:
URL = 'https://1xbet.whoscored.com/regions/252/tournaments/2/seasons/10316/stages/23400/playerstatistics/england-premier-league-2024-2025'
PL2425_player = crwaling_player_stats_at_once(URL)

page 31: 100%|██████████| 31/31 [02:26<00:00,  4.71s/it]
player stats summary : done
page 31: 100%|██████████| 31/31 [02:31<00:00,  4.88s/it]
player stats defensive : done
page 31: 100%|██████████| 31/31 [02:32<00:00,  4.90s/it]
player stats offensive : done
page 31: 100%|██████████| 31/31 [02:29<00:00,  4.81s/it]
player stats pasing : done

In [7]:
PL2425_player.head(10)

       player_name team_number    team_name age  ... Clear  Drb Blocks OwnG
0    Mohamed Salah          26    Liverpool  32  ...   0.2  0.2      0    0
1      Bukayo Saka          13      Arsenal  23  ...   0.4  0.6      0    0
2   Alexander Isak          23    Newcastle  25  ...   0.5  0.3    0.1    0
3      Cole Palmer          15      Chelsea  22  ...   0.4  0.4      0    0
4   Erling Haaland         167     Man City  24  ...   0.8  0.1      0    0
5     Bryan Mbeumo         189    Brentford  25  ...   1.3  0.2    0.1    0
6    Matheus Cunha         161       Wolves  25  ...   0.7  0.9      0    0
7      Jérémy Doku         167     Man City  22  ...   0.1  0.2    0.1    0
8  Bruno Fernandes          32      Man Utd  30  ...   0.9  1.4    0.1    0
9  Antoine Semenyo         183  Bournemouth  25  ...   0.8  0.9    0.3    0

[10 rows x 34 columns]

# Seasonal Team Data

In [6]:
URL = 'https://1xbet.whoscored.com/regions/252/tournaments/2/seasons/10316/england-premier-league'
PL2425_team = league_table_added(URL)

In [9]:
PL2425_team.to_csv('./team_data/PL2425_team.csv', index=False)
PL2425_team.head(10)

           team_name   P   W   D  ... Offsides pg Shots OT pg Dribbles pg Fouled pg
0          Liverpool  29  21   7  ...         1.4         6.3         8.3       9.3
1            Arsenal  29  16  10  ...         2.2         4.8         8.5      10.6
2  Nottingham Forest  29  16   6  ...         2.3         4.6         7.4        11
3            Chelsea  29  14   7  ...         1.6         5.8         8.8      11.9
4    Manchester City  29  14   6  ...         1.2         5.8        10.1       9.9
5          Newcastle  28  14   5  ...           2         4.4         7.7      12.3
6           Brighton  29  12  11  ...         1.1         4.8         9.3      11.3
7             Fulham  29  12   9  ...         1.1         4.6         7.9       9.9
8        Aston Villa  29  12   9  ...         1.7         4.2           9      13.1
9        Bournemouth  29  12   8  ...           2         5.8         8.1      10.2

[10 rows x 25 columns]

# Seasonal Match Data

In [ ]:
crawling_all_matches('./league_match_data',252,2,10316,'PL2425')